.arriba {
    height:300px;
    padding: 5em;
    font-size: 1em;
    background-image: url("../img/fondo.jpg");
    color: azure;
    background-size: cover;
    background-position: center;
    border: solid 1px black;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}
.arriba h1{
    margin: 0%;
    text-decoration: underline;
    text-shadow: 2px 4px 4px yellow;
}

.coches{
    width: 80%;
    margin: auto;
    border: solid 1px black;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.coches td{
    width: 60%;
    padding:1em;
}
.coches img{
    width: 100%;
    border: solid 1px #ddd;
}
footer{
    height: 3em;
    line-height: 3em;
    background-color: yellow;
    color:black;
    text-align: center;
    font-weight: 900;
}

.mustang{
    background: rosybrown;
}
.ferra{
    background: slateblue;
}
.camaro{
    background: #765827;
}
.porsch{
    background: #F94C10;
}
#ford_p{
    text-decoration: underline;
    color: green;
}
#ferra_p{
    text-decoration: underline;
    color: #F94C10;
}
#chev_p{
    text-decoration: underline;
    color: aliceblue;
}
#porsh_p{
    text-decoration: underline;
    color: wheat;
}

